<div class="row pd-top-2">
    <div class=" col-md-12 pd-top-2 pd-bottom-2  panel panel-default">
        <form class="form-inline form-search" role="form">
           
           
                        <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">自增长ID名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.id">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">公司名称名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.name">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">省编码名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.province">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">市编码名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.city">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">县编码名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.county">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">融资规模名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.financing">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">认证状态名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.approved">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">冻结状态名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.freezed">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">公司标语名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.slogan">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">公司介绍名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.summary">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">手机名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.phone">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">详细地址名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.address">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">邮箱名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.mail">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">创建人ID名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.createBy">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">更新人ID名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.updateBy">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">数据更新时间名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.updateAt">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">数据创建时间名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.createAt">
            </div>
                 
                     
         
           
            <div class="form-group col-md-6 col-md-offset-1">
         
                <button class="btn btn-primary pull-right"style="margin-right: 2%;"
                        ng-click="vm.search()">查询
                </button>
                <button class="btn btn-primary pull-right"
                        ng-if="vm.hasParent" ng-click="vm.research()"
                        style="margin-right:2%;">重置
                </button>

            </div>
        </form>
    </div>

    <div class="row">
        <div class=" col-md-12 ">
            <div class="  panel panel-default">
                <div class="panel-heading">
                
                
                    管理
                    <div class="btn-group pull-right" ng-if="vm.params.id">
                        <div class="btn btn-primary btn-xs" ng-if="globalPermission.created" ui-sref="field.company()">
                            <i class="fa fa-plus-square fa-fw"></i>
                            新增
                        </div>
                    </div>
           
                    
                    
                    
                    
                </div>

                <div class="panel-body">
                    <ul class="ul-table-head row">
                        <li>
                        
                            <div class="three1 text-center">序号</div>
                                                                                           <div class="three1 text-center">自增长ID</div>  
                                                                                                                           <div class="three1 text-center">公司名称</div>  
                                                                                                                           <div class="three1 text-center">省编码</div>  
                                                                                                                           <div class="three1 text-center">市编码</div>  
                                                                                                                           <div class="three1 text-center">县编码</div>  
                                                                                                                           <div class="three1 text-center">融资规模</div>  
                                                                                                                           <div class="three1 text-center">认证状态</div>  
                                                                                                                           <div class="three1 text-center">冻结状态</div>  
                                                                                                                           <div class="three1 text-center">公司标语</div>  
                                                                                                                           <div class="three1 text-center">公司介绍</div>  
                                                                                                                           <div class="three1 text-center">手机</div>  
                                                                                                                           <div class="three1 text-center">详细地址</div>  
                                                                                                                           <div class="three1 text-center">邮箱</div>  
                                                                                                                           <div class="three1 text-center">创建人ID</div>  
                                                                                                                           <div class="three1 text-center">更新人ID</div>  
                                                                                                                           <div class="three1 text-center">数据更新时间</div>  
                                                                                                                           <div class="three1 text-center">数据创建时间</div>  
                                                                                         <div class="three3 text-center">操作</div>
                          
                            
                        </li>
                    </ul>
                    <ul class="ul-table" dnd-list="vm.list">
                        <li ng-repeat="item in vm.list"
                            dnd-draggable="item"
                            dnd-moved="vm.list.splice(17, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="vm.list.selected = item"
                            ng-class="{'selected': vm.list.selected === item}"
                        >
                            <div class="three1">{{17*1+1}}</div>
                                                                                           <div class="three2">{{item.id}}</div>  
                                                                                                                            <div class="three2">{{item.name}}</div>  
                                                                                                                            <div class="three2">{{item.province}}</div>  
                                                                                                                            <div class="three2">{{item.city}}</div>  
                                                                                                                            <div class="three2">{{item.county}}</div>  
                                                                                                                            <div class="three2">{{item.financing}}</div>  
                                                                                                                            <div class="three2">{{item.approved}}</div>  
                                                                                                                            <div class="three2">{{item.freezed}}</div>  
                                                                                                                            <div class="three2">{{item.slogan}}</div>  
                                                                                                                            <div class="three2">{{item.summary}}</div>  
                                                                                                                            <div class="three2">{{item.phone}}</div>  
                                                                                                                            <div class="three2">{{item.address}}</div>  
                                                                                                                            <div class="three2">{{item.mail}}</div>  
                                                                                                                            <div class="three2">{{item.createBy}}</div>  
                                                                                                                            <div class="three2">{{item.updateBy}}</div>  
                                                                                                                            <div class="three2">{{item.updateAt}}</div>  
                                                                                                                            <div class="three2">{{item.createAt}}</div>  
                                                                                         
                           
                            
                            
                            
                            <div class="three3">
                              
                                <button class="btn btn-default btn-xs"
                                        ui-sref="field.company({id:item.id})">查看
                                </button>
                                <button class="btn btn-default btn-xs"  ng-if="globalPermission.updated"
                                        ui-sref="field.company({id:item.id})">编辑
                                </button>
                                <button class="btn btn-danger btn-xs" ng-if="globalPermission.deleted" data-toggle="modal" data-target="#myModal"
                                        ng-click="vm.del(item.id, 17)">删除
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<paging ng-if="vm.page" next="{{vm.page}}"></paging>

